{{ define "content_configuration" }}
<script src="/static/javascript/configuration.js" defer></script>
<div class="admin-pin-prompt" id="admin-pin-div" data-adminprompt="false">
  <div>
    <h2>Enter Admin Pin</h2>
    <div class="admin-pin-err">
      <p id="admin-pin-err"></p>
    </div>
    <label for="admin-pin-input"></label>
    <input type="number" name="adminPin" id="admin-pin-input" placeholder="Pin">
    <button type="button" id="admin-pin-btn">Submit</button>
  </div>

</div>
<div class="sub-app configuration" id="sub-app-div" data-adminprompt="false">
  <h1>Configuration</h1>
  <hr>
  <div class="settings">
    <input type="hidden" id="base-need-admin-pin" value="{{ .needAdminPin }}">
    <label for="admin-pin">New Admin Pin</label>
    <input type="text" id="admin-pin" placeholder="8888">

    <label for="need-admin-pin">Need Admin Pin For User Management</label>
    <select id="need-admin-pin">
      {{ if .needAdminPin }}
        <option value="true">True</option>
        <option value="false">False</option>
      {{ else }}
        <option value="false">False</option>
        <option value="true">True</option>
      {{ end }}
    </select>

    <label for="unlock-time">Unlock Time (ms)</label>
    <input type="number" id="unlock-time" placeholder="8000" value="{{ .unlockTime }}">

    <label for="nullification-interval">Code Expiration Check Interval (ms)</label>
    <input type="number" id="nullification-interval" placeholder="5000" value="{{ .codeExpirationCheckInterval }}">

    <button id="configuration-save">Save</button>
  </div>
</div>
{{ end }}

{{ define "configuration" }}
{{ template "base" . }}
{{ end }}
