{{ define "content_locks" }}
    <script src="/static/javascript/lockdriver.js" defer></script>
    <input type="hidden" id="adminPinRequiredForUserManagement" value="{{ .adminPinRequiredForUserManagement }}">

    <div class="admin-pin-prompt" id="admin-pin-div" data-adminprompt="false">
        <div>
            <h2>Enter Admin Pin</h2>
            <div class="admin-pin-err">
                <p id="admin-pin-err"></p>
            </div>
            <label for="admin-pin-input"></label>
            <input type="number" name="adminPin" id="admin-pin-input" placeholder="Pin">
            <button type="button" id="admin-pin-btn">Submit</button>
        </div>

    </div>

    <div class="sub-app lock-manager" id="sub-app-div" data-adminprompt="false">
        <h1>Lock Controller</h1>
        <hr>
        <h2>Manage Lock</h2>
        <h3>Current State: <span data-armed="{{ .isArmed }}" id="lock-state-span">{{ if .isArmed }}ARMED{{ else }}UNARMED{{ end}}</span></h3>
        <div class="controls">
            <button type="button" id="lock-manager-lock">ARM</button>
            <button type="button" id="lock-manager-unlock">DISARM</button>
        </div>
        <div class="rolling-codes">
            <hr>
            <h2>Rolling Codes</h2>
            <button id="rolling-codes-reset">Reset Codes</button>
            <div class="code-cards" id="cards-div">
                {{ range .rollingCodes }}
                <div class="code-card">
                    <h2>{{ .code }}</h2>
                    <p>Expires {{ .expiry }}</p>
                </div>
                {{ end }}
            </div>
        </div>
        <hr>
        <h2>Allocated Codes</h2>
        <table class="allocated-codes" id="add-user-table">
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Expiration</th>
            </tr>
            {{ range .codes }}
            <tr>
                <td>{{ .name }}</td>
                <td>{{ .code }}</td>
                <td>{{ .expiry }}</td>
                <td>
                    <button type="button" value="{{ .UUID }}" onclick="handleDeleteUser(this)">X</button>
                </td>
            </tr>
            {{ end }}
            <tbody>

            </tbody>
        </table>
        <div class="add-user">
            <div id="error-div" class="error-div" data-hidden="true">

            </div>

            <label for="add-user-name">Name</label>
            <input type="text" name="name" placeholder="John Doe" id="add-user-name" required>

            <label for="add-user-code">Code</label>
            <input type="number" name="code" placeholder="4242" id="add-user-code" required>

            <label for="add-user-expiration">Expiration</label>
            <input type="datetime-local" name="expiration" id="add-user-expiration">
            <button type="button" id="add-user-btn">Add Code</button>
        </div>
    </div>
{{ end }}

{{ define "locks" }}
{{ template "base" . }}
{{ end }}