{{ define "content_register" }}
<div class="authentication-block">
    <form method="POST" action="/register">
        <h2>Create Account</h2>
        {{ if .Error }}
        <div class="authentication-error">{{ .Error }}</div>
        {{ end }}
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required placeholder="Name"/>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required placeholder="Email"/>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required placeholder="Password"/>

        <button type="submit">Register</button>
    </form>
</div>
{{ end }}

{{ define "register" }}
{{ template "base" . }}
{{ end }}
