:root {
    --fg-color: rgb(35, 35, 40);
    --fg-secondary: rgb(45, 45, 50);
    --bg-color: rgb(25, 26, 27);
    --base-txt-color: #f8f6f6;
    --selected-txt-color: #ffffff
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
}

main {
    display: grid;
    grid-template-columns: 15vw repeat(4, 1fr);
    grid-template-rows: 10vh repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;

    color: var(--base-txt-color);

    font-family: "JetBrains Mono", "Arial Blacsk", "serif";
}

h1 > a {
    color: inherit;
    text-decoration: inherit;
}

.header {
    padding: 5px 5px 5px 1vw;

    background-color: var(--fg-color);
    grid-area: 1 / 1 / 2 / 6;

    display: flex;
    flex-direction: row;
}

.header > * {
    margin: auto 0;
}

.header > .profile {
    margin: auto 1vw auto auto;
}

.header > .profile {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.header > .profile > a {
    color: var(--selected-txt-color);
}


.tabs {
    padding: 1vw;
    margin-top: 5px;
    background-color: var(--fg-color);
    grid-area: 2 / 1 / 6 / 2;
    height: 85vh;
}

.tabs > h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.tabs > ul > li > a {
    color: inherit;
    text-decoration: inherit;
}

.tabs > ul > li[data-active="true"] > a {
    color: var(--selected-txt-color);
    text-decoration: inherit;
    font-weight: bold;
    font-size: 1.1rem;
}

.page-content {
    padding: 5px 5px 5px 1vw;
    grid-area: 2 / 2 / 6 / 6;
    height: 100%;
}

/* login.html, register.html */
.authentication-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 70%;
    justify-content: center;
    align-content: center;
}

.authentication-block > * {
    margin: 0 auto;
}

.authentication-block > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.authentication-block > form > input {
    width: 20vw;
    height: 1.5rem;
}

.authentication-block > form > button[type="submit"] {
    height: 1.5rem;
    border: 1px solid aqua;
    background-color: transparent;
    color: aqua;
    margin-top: 2vh;
    border-radius: 15px;
}

.authentication-block > form > button[type="submit"]:hover {
    scale: 1.075;
    cursor: pointer;
}

.authentication-block > .authentication-error {
    color: red;
}

.authentication-block > form {
    padding: 4vh 4vw;
    background-color: var(--fg-color);
    border-radius: 15px;
}

/* locks.html */
.sub-app {
    padding: 4vh 4vw;
    background-color: var(--fg-color);
    border-radius: 15px;
}

.lock-manager {

}
.lock-manager > h3 > span {
    color: red;
}

.lock-manager > h3 > span[data-locked="true"] {
    color: green;
}

.lock-manager > .controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.lock-manager > .controls > button {
    padding: 1vh 1vw;
    border-radius: 15px;
    font-weight: bold;
}

.lock-manager > .controls > button:hover {
    cursor: pointer;
    scale: 1.05;
}

.lock-manager > hr {
    margin-top: 2vh;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

.error-div {
    color: red;
    font-size: 0.8rem;
}

.add-user {
    margin-top: 2vh;
}

.add-user > input {
    padding: .5vh .5vw;
}

.add-user > input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.add-user > input::-webkit-outer-spin-button,
.add-user input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.rolling-codes > button {
    padding: .5vh .5vw;
    border-radius: 15px;
    margin-bottom: 1vh;
    font-weight: bold;
}

.rolling-codes > button:hover {
    cursor: pointer;
}

.rolling-codes > .code-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.rolling-codes > .code-cards > .code-card {
    background-color: var(--fg-secondary);
    margin: 0 auto;
    text-align: center;
    padding: 1vh 1vw;
    scale: 0.9;
    border-radius: 15px;
}

.rolling-codes > .code-cards > .code-card:hover {
    scale: 1;
}

/* logs.html */
.log-box {
    max-height: 70vh;
    overflow: scroll;
}